<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia|Trirong|Cinzel">
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1 id="text_logo">Infinite palette</h1>

<h1 id="page"> ~ welcome ~ </h1>

<div class="about-section">
    <div class="about-card">

        <div class="gallery">
            <img src="/images/acrylic/acrylic_cascade2.jpg" alt="Art 1">
            <img src="/images/portret/portret_zendaya2.jpg" alt="Art 2">
            <img src="/images/random/old_eye.jpg" alt="Art 3">
            <img src="/images/draw/rochieA1.jpg" alt="Art 4">
        </div>

        <button class= "show1" onclick="account_menu('register'); window.location.href='/register';">Register</button>
        <button class= "show1" onclick="account_menu('login'); window.location.href='/login';">Login</button>

        <blockquote>"Art with soul, delivered to your home."</blockquote>
    </div>
</div>


<script src="/script.js"></script>
</body>
</html>
